body {
    background-color:#f6f7fb;
    color: #313131;
    font-family: sans-serif;
}

/*SECTION*/
section {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1rem;
}


/*BAR_NAV*/

nav {
    border-radius: 4px;
    background-color: #1b435b;
    color: #ffffff;
    margin-top: -1rem;
}

/*AREA DE TÍTULOS*/

h1 { 
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

h4 {
    color: #c7d3db;
}

/*ESTILOS*/

.active {
    color: #f1c9a1;
}

li {
    margin-bottom: 5px;
}

a {
    color: #c7d3db;
    text-decoration: none;
    margin-left: 4px;
}
