*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #F0F4FD;
font-family: sans-serif;
}
*/

body{
    display: flex;
    background-color: #FFFFFF;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.mayus {
    text-transform: uppercase;
}

h1{
    text-align: center;
    font-size: 1.3rem;
}

.navsup{
    height: 50px;
    color: #FFFFFF;
    background: #3E416E;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    margin: 0 auto;
    left:0; 
    top:0;
    z-index: 1;
    width:100%; 
    padding:15px
}

.navigation{
    height: 50px;
    background: #162f42;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    position:fixed;
    margin: 0 auto;
    left:0; 
    bottom:0;
    z-index: 1;
    width:100%; 
    padding:15px
    box-shadow:
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;

}

/*
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
*/

.navigation ul li a .icon {
    position: relative;
    display: block;
    top: 20px;
    font-size: 1.5em;
    text-align: center;
}


.navigation ul li a .text {
    opacity: 0;
}

.active {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #162f42;
    border-radius: 50%;
    border: 4px solid #ffffff;
    bottom: 14px;
}

/*ACTIVE COLORS*/
.color_intro .icon {
    color: #ffffff;
}

.color_juri .icon {
    color: #ffffff;
}

.color_indi .icon {
    color: #ffffff;
}

.color_faqs .icon {
    color: #ffffff;
}

.color_lulu .icon {
    color: #ffffff;
}

/*INACTIVE COLORS*/
.color_in .icon {
    color: #ffffff;
}
    /*TEMAS*/
.tema {
    background-color: #FFFFFF;
    width: 100%;
    min-width: 450px;
    border-radius: 4px 4px 4px 4px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.titulo_nav {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.tema_circular {
    background-color: #7fcab6;
    padding: 0.2rem;
    border-radius: 4px 4px 4px 4px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 4px solid #7fcab6;
}

.container {
    background-color: #ffffff;
    width: 800px;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.importante {
  color: #D84924;
}

h3{
    text-align: center;
    color: #3E416E;
    font-size: 16px;
}

h4{
  text-align: center;
  color: #3E416E;
  font-size: 20px;
}

p{
    text-align: center;
}

.icon_card {
    width: 30px;
    height: 30px;
    
}

.icon_card2 {
    background-color: #FFFFFF;
    padding: 0.2rem;
    border-radius: 4px 4px 4px 4px;
    margin: 0 auto;
    padding: 10px;
    display: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -65px;
    color: #446477;
    
}

article a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #3E416E;
    padding: 2rem;
    line-height: 20px;
}

/*TEXTO ESTILOS*/
.justify_text {
    text-align: justify;
}

.boxshadow {
    padding: 20px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.0),
               1px 1px  1px 1px rgb(26,70,96,0.1),
               0.1em 0.4em 0.3em 0.3em rgba(26,70,96,0.1);
  }