/* GENERALES */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4fb;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: f6f7fb;
}


/* CARDS */
.Card_principal {
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 2rem;
    color: #1a4660;
}

/* MAIN */
.principal {
    display: flex;
    max-width: 700px;
    min-height: 200px;
}

/* Columnas */
.columna {
    padding: 2rem;
    color: white;
}

.columna_principal {
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 2rem;
    color: white;
}

.columna_faqs {
    border-radius: 1rem 0 0 1rem;
    padding: 2rem;
    color: #1a4660;
}

.columna_indice {
    color: #1a4660;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 2rem;
}

.columna:first-of-type {
    border-radius: 1rem 0 0 1rem;
}

.columna:last-of-type {
    border-radius: 0 1rem 1rem 0;
}

/*SEPARADOR DE HOJAS*/
.separador {
    padding: 0.7px;
    color: white;
}

.uno {
    background-color: #d2d4d0;
    ;
}

.dos {
    background-color:#1a4660;
    ;
}

.faqs {
    background-color: ffffff;
    ;
}

.indice {
    background-color: #ffffff;
}

/* Boton */
.enlace {
    text-decoration: none;
    background-color: #1a4660;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 100px;
    
}

.enlace_proceso {
    text-decoration: none;
    background-color: #1a4660;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 140px;
}

.paginacion {
        color: #1a4660;
        text-decoration: none;
        justify-content: center;
        margin-top: 5px;
}

.enlace_contraste {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 100px;
}

.indice {
    color: #ffffff;
}

.indice_texto {
    color: #1a4660;
}

.enlace_volver {
    text-decoration: none;
}

.uno .enlace {
    color: #1a4660;
}

.dos .enlace {
    color: #1a4660;
}

/* PARRAFO */
p {
    text-align:justify;
}

/* Títulos */
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

h2 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.center_intems {
display: flex;
}

.enlace_leer {
    text-decoration: none;
    color: #1a4660;
}

.enlace_ver {
    text-decoration: none;
    color: #ffffff;
}

.en_texto {text-decoration: none;
    color: #16a8b4;
}